.limited-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    max-height: 150px;
}
.limited-text-table{
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


td.limited-text-table:hover {
    overflow: visible;
  }